In [2]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\surya\anaconda3\lib\site-packages (4.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\surya\anaconda3\lib\site-packages (from pymongo) (2.4.2)

In [3]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')
import pymongo
import plotly.express as px

In [4]:

client = pymongo.MongoClient(r"mongodb+srv://Surya:Surya123@cluster0.cnj3obg.mongodb.net/")
db = client["sample_airbnb"]
col = db ["listingsAndReviews"]

In [5]:
# client = pymongo.MongoClient("mongodb+srv://Surya:Surya123@cluster0.cnj3obg.mongodb.net/?retryWrites=true&w=majority")

In [6]:
col.find_one()

{'_id': '10082307',
 'listing_url': 'https://www.airbnb.com/rooms/10082307',
 'name': 'Double Room en-suite (307)',
 'summary': 'A standard double room with a queen size double bed and with private bathroom. There is a working table, chair and a shelf. A clean and comfortable room.',
 'space': '',
 'description': 'A standard double room with a queen size double bed and with private bathroom. There is a working table, chair and a shelf. A clean and comfortable room.',
 'neighborhood_overview': '',
 'notes': '',
 'transit': '',
 'access': '',
 'interaction': '',
 'house_rules': '',
 'property_type': 'Apartment',
 'room_type': 'Private room',
 'bed_type': 'Real Bed',
 'minimum_nights': '1',
 'maximum_nights': '1125',
 'cancellation_policy': 'strict_14_with_grace_period',
 'last_scraped': datetime.datetime(2019, 3, 11, 4, 0),
 'calendar_last_scraped': datetime.datetime(2019, 3, 11, 4, 0),
 'accommodates': 2,
 'bedrooms': 1,
 'beds': 1,
 'number_of_reviews': 0,
 'bathrooms': Decimal128('1.0'),
 'amenities': ['TV',
  'Internet',
  'Wifi',
  'Air conditioning',
  'Wheelchair accessible',
  'Doorman',
  'Elevator',
  'Family/kid friendly',
  'Shampoo',
  'Hangers',
  'Hair dryer',
  'Iron'],
 'price': Decimal128('361.00'),
 'extra_people': Decimal128('130.00'),
 'guests_included': Decimal128('2'),
 'images': {'thumbnail_url': '',
  'medium_url': '',
  'picture_url': 'https://a0.muscache.com/im/pictures/8ee32fb6-2094-42ee-ae6c-ff40b479f9a7.jpg?aki_policy=large',
  'xl_picture_url': ''},
 'host': {'host_id': '51289938',
  'host_url': 'https://www.airbnb.com/users/show/51289938',
  'host_name': 'Ken',
  'host_location': 'Hong Kong',
  'host_about': 'Out-going and positive. Happy to talk to guests and exchange our difference in culture.',
  'host_response_time': 'within an hour',
  'host_thumbnail_url': 'https://a0.muscache.com/im/pictures/48ba1de1-bfea-446c-83ab-c21cb4272696.jpg?aki_policy=profile_small',
  'host_picture_url': 'https://a0.muscache.com/im/pictures/48ba1de1-bfea-446c-83ab-c21cb4272696.jpg?aki_policy=profile_x_medium',
  'host_neighbourhood': 'Jordan',
  'host_response_rate': 90,
  'host_is_superhost': False,
  'host_has_profile_pic': True,
  'host_identity_verified': False,
  'host_listings_count': 6,
  'host_total_listings_count': 6,
  'host_verifications': ['email', 'phone', 'google', 'reviews']},
 'address': {'street': 'Hong Kong, Kowloon, Hong Kong',
  'suburb': 'Yau Tsim Mong',
  'government_area': 'Yau Tsim Mong',
  'market': 'Hong Kong',
  'country': 'Hong Kong',
  'country_code': 'HK',
  'location': {'type': 'Point',
   'coordinates': [114.17158, 22.30469],
   'is_location_exact': True}},
 'availability': {'availability_30': 30,
  'availability_60': 60,
  'availability_90': 90,
  'availability_365': 365},
 'review_scores': {},
 'reviews': []}

In [7]:
data = []
for i in col.find():
    data2 = dict(Id = i['_id'],
                Listing_url = i['listing_url'],
                Name = i.get('name'),
                Description = i['description'],
                House_rules = i.get('house_rules'),
                Property_type = i['property_type'],
                Room_type = i['room_type'],
                Availability_365 = i['availability']['availability_365'],
                Price = i['price'],
                Country = i['address']['country'],
                Min_night = int(i['minimum_nights']),
                Max_night = int(i['maximum_nights']),
                Cancellation_policy = i['cancellation_policy'],
                Accomodates = i['accommodates'],
                Total_bedrooms = i.get('bedrooms'),
                Total_beds = i.get('beds'),
                Bed_type = i['bed_type'],
                Security_deposit = i.get('security_deposit'),
                Cleaning_fee = i.get('cleaning_fee'),
                Extra_people = i['extra_people'],
                Guests_included= i['guests_included'],
                No_of_reviews = i['number_of_reviews'],
                Review_scores = i['review_scores'].get('review_scores_rating'),
                Amenities = ', '.join(i['amenities']),
                Host_id = i['host']['host_id'],
                Host_name = i['host']['host_name'],
                Street = i['address']['street'],
                Country_code = i['address']['country_code'],
                Location_type = i['address']['location']['type'],
                Longitude = i['address']['location']['coordinates'][0],
                Latitude = i['address']['location']['coordinates'][1],
                Is_location_exact = i['address']['location']['is_location_exact']
    )
    data.append(data2)

In [8]:
air = pd.DataFrame(data)
air

,Id,Listing_url,Name,Description,House_rules,Property_type,Room_type,Availability_365,Price,Country,...,Review_scores,Amenities,Host_id,Host_name,Street,Country_code,Location_type,Longitude,Latitude,Is_location_exact
0,10082307,https://www.airbnb.com/rooms/10082307,Double Room en-suite (307),A standard double room with a queen size doubl...,,Apartment,Private room,365,361.00,Hong Kong,...,NaN,"TV, Internet, Wifi, Air conditioning, Wheelcha...",51289938,Ken,"Hong Kong, Kowloon, Hong Kong",HK,Point,114.171580,22.304690,True
1,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",,Apartment,Entire home/apt,0,699.00,Hong Kong,...,100.0,"Air conditioning, Kitchen, Smoking allowed, Do...",51624384,Giovanni,"Hong Kong, Hong Kong Island, Hong Kong",HK,Point,114.150270,22.281580,True
2,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,"Prime location, amazing lighting and no annoyi...",,Apartment,Entire home/apt,0,50.00,Canada,...,NaN,"Internet, Wifi, Kitchen, Heating, Family/kid f...",51612949,Konstantin,"Montréal, Québec, Canada",CA,Point,-73.591110,45.518890,True
3,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...",Entreguem o imóvel conforme receberam e respei...,Apartment,Entire home/apt,118,119.00,Brazil,...,98.0,"TV, Cable TV, Internet, Wifi, Air conditioning...",51530266,Ana Valéria,"Rio de Janeiro, Rio de Janeiro, Brazil",BR,Point,-43.190849,-22.984339,False
4,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Make the house your home...,House,Entire home/apt,239,80.00,Portugal,...,89.0,"TV, Cable TV, Wifi, Kitchen, Paid parking off ...",51399391,Ana&Gonçalo,"Porto, Porto, Portugal",PT,Point,-8.613080,41.141300,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9867316,https://www.airbnb.com/rooms/9867316,Beautiful Place in the Middle of Manhattan,Beautiful place only a couple blocks from main...,1. NO smoking 2. NO outside guests 3. Please t...,Apartment,Entire home/apt,154,160.00,United States,...,92.0,"Wifi, Air conditioning, Kitchen, Pets allowed,...",40540485,Miguel,"New York, NY, United States",US,Point,-73.962050,40.762660,True
5551,9979991,https://www.airbnb.com/rooms/9979991,,"Located at the heart of Kowloon, our unit is s...",,Apartment,Entire home/apt,0,1052.00,Hong Kong,...,NaN,"TV, Internet, Air conditioning, Kitchen, Eleva...",51283546,Alexis,"Hong Kong, Kowloon, Hong Kong",HK,Point,114.169630,22.315690,False
5552,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,"As a guest of Coconut Condos, I agree to the f...",Townhouse,Entire home/apt,258,220.00,United States,...,92.0,"TV, Wifi, Air conditioning, Pool, Kitchen, Fre...",51013381,Coconut Condos,"Lahaina, HI, United States",US,Point,-156.667520,20.858940,False
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,A bright large double room is available in a b...,We like to keep the flat clean and tidy so wou...,Apartment,Private room,0,60.00,Australia,...,NaN,"TV, Internet, Wifi, Kitchen, Washer, Dryer, Sm...",47615848,Lucy,"Bondi Beach, NSW, Australia",AU,Point,151.265420,-33.892980,False
5554,9951865,https://www.airbnb.com/rooms/9951865,Quarto Legal,"Meu espaço é perto de Cristo Redentor, Copacab...",,Apartment,Private room,365,101.00,Brazil,...,100.0,"TV, Wifi, Kitchen, Gym, Elevator, Free street ...",51142039,Dailton,"Rio de Janeiro, State of Rio de Janeiro, Brazil",BR,Point,-43.210667,-22.918155,False

In [11]:
air["Room_type"].value_counts()

Entire home/apt    3489
Private room       1983
Shared room          83
Name: Room_type, dtype: int64

In [8]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   5555 non-null   object
 1   Listing_url          5555 non-null   object
 2   Name                 5555 non-null   object
 3   Description          5555 non-null   object
 4   House_rules          5555 non-null   object
 5   Property_type        5555 non-null   object
 6   Room_type            5555 non-null   object
 7   Availability_365     5555 non-null   int64
 8   Price                5555 non-null   object
 9   Country              5555 non-null   object
 10  Min_night            5555 non-null   int64
 11  Max_night            5555 non-null   int64
 12  Cancellation_policy  5555 non-null   object
 13  Accomodates          5555 non-null   int64
 14  Total_bedrooms       5550 non-null   float64
 15  Total_beds           5542 non-null   float64
 16  Bed_type             5555 non-null   object
 17  Security_deposit     3471 non-null   object
 18  Cleaning_fee         4024 non-null   object
 19  Extra_people         5555 non-null   object
 20  Guests_included      5555 non-null   object
 21  No_of_reviews        5555 non-null   int64
 22  Review_scores        4081 non-null   float64
 23  Amenities            5555 non-null   object
 24  Host_id              5555 non-null   object
 25  Host_name            5555 non-null   object
 26  Street               5555 non-null   object
 27  Country_code         5555 non-null   object
 28  Location_type        5555 non-null   object
 29  Longitude            5555 non-null   float64
 30  Latitude             5555 non-null   float64
 31  Is_location_exact    5555 non-null   bool
dtypes: bool(1), float64(5), int64(5), object(21)
memory usage: 1.3+ MB

In [23]:
air.isnull().sum()

Id                     0
Listing_url            0
Name                   0
Description            0
House_rules            0
Property_type          0
Room_type              0
Availability_365       0
Price                  0
Country                0
Min_night              0
Max_night              0
Cancellation_policy    0
Accomodates            0
Total_bedrooms         0
Total_beds             0
Bed_type               0
Security_deposit       0
Cleaning_fee           0
Extra_people           0
Guests_included        0
No_of_reviews          0
Review_scores          0
Amenities              0
Host_id                0
Host_name              0
Street                 0
Country_code           0
Location_type          0
Longitude              0
Latitude               0
Is_location_exact      0
dtype: int64

In [10]:
air.describe()

,Availability_365,Min_night,Max_night,Accomodates,Total_bedrooms,Total_beds,No_of_reviews,Review_scores,Longitude,Latitude
count,5555.000000,5555.000000,5.555000e+03,5555.000000,5550.000000,5542.000000,5555.000000,4081.000000,5555.000000,5555.000000
mean,173.105671,5.564356,1.382776e+06,3.505851,1.411712,2.071454,27.606481,93.099240,-6.623240,22.061230
std,139.841893,22.613861,5.256920e+07,2.297019,1.041942,1.619660,49.798376,9.023483,90.525974,28.092112
min,0.000000,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,20.000000,-159.678690,-34.088290
25%,17.000000,1.000000,5.900000e+01,2.000000,1.000000,1.000000,1.000000,90.000000,-73.599530,20.724390
50%,171.000000,2.000000,1.125000e+03,3.000000,1.000000,2.000000,5.000000,95.000000,-8.611420,40.727130
75%,317.000000,3.000000,1.125000e+03,4.000000,2.000000,3.000000,32.000000,99.000000,29.019605,41.162755
max,365.000000,1250.000000,2.147484e+09,16.000000,20.000000,25.000000,533.000000,100.000000,151.338980,45.665630

In [11]:
air.shape

(5555, 32)

In [24]:
air['Price'] = air['Price'].astype(str).astype(float)
air['Security_deposit'] = air['Security_deposit'][~air['Security_deposit'].isna()].astype(str).astype(float)
air['Cleaning_fee'] = air['Cleaning_fee'][~air['Cleaning_fee'].isna()].astype(str).astype(float)
air['Extra_people'] = air['Extra_people'].astype(str).astype(float)
air['Review_scores'] = air['Review_scores'].astype('Int64')
air['Guests_included'] = air['Guests_included'].astype(str).astype(float)

In [18]:
air.shape

(5555, 32)

In [25]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   5555 non-null   object
 1   Listing_url          5555 non-null   object
 2   Name                 5555 non-null   object
 3   Description          5555 non-null   object
 4   House_rules          5555 non-null   object
 5   Property_type        5555 non-null   object
 6   Room_type            5555 non-null   object
 7   Availability_365     5555 non-null   int64
 8   Price                5555 non-null   float64
 9   Country              5555 non-null   object
 10  Min_night            5555 non-null   int64
 11  Max_night            5555 non-null   int64
 12  Cancellation_policy  5555 non-null   object
 13  Accomodates          5555 non-null   int64
 14  Total_bedrooms       5555 non-null   float64
 15  Total_beds           5555 non-null   float64
 16  Bed_type             5555 non-null   object
 17  Security_deposit     5555 non-null   float64
 18  Cleaning_fee         5555 non-null   float64
 19  Extra_people         5555 non-null   float64
 20  Guests_included      5555 non-null   float64
 21  No_of_reviews        5555 non-null   int64
 22  Review_scores        5555 non-null   Int64
 23  Amenities            5555 non-null   object
 24  Host_id              5555 non-null   object
 25  Host_name            5555 non-null   object
 26  Street               5555 non-null   object
 27  Country_code         5555 non-null   object
 28  Location_type        5555 non-null   object
 29  Longitude            5555 non-null   float64
 30  Latitude             5555 non-null   float64
 31  Is_location_exact    5555 non-null   bool
dtypes: Int64(1), bool(1), float64(9), int64(5), object(16)
memory usage: 1.3+ MB

In [20]:
air.Total_bedrooms.fillna(air.Total_bedrooms.median(),inplace=True)
air.Total_beds.fillna(air.Total_beds.median(),inplace=True)
air.Security_deposit.fillna(air.Security_deposit.median(),inplace=True)
air.Cleaning_fee.fillna(air.Cleaning_fee.median(),inplace=True)
air.Review_scores.fillna(air.Review_scores.median(),inplace=True)

In [31]:
air.drop(labels=list(air[air['Name'].duplicated(keep=False)].index),inplace=True)
air.reset_index(drop=True,inplace=True)

In [35]:
air.shape

(5529, 32)

In [39]:
air.to_csv(r'C:\Users\surya\Desktop\New folder (4)\airbnb\Airbnb_data.csv',index=False)